{% extends 'base.html' %}

{% block content %}

<div class = 'container'>

  <h3> Update Product </h3>


 <div class="row">
      <form method = 'POST'>

        <div class="input-field col s3">
          <input name="name" id="name" type="text" value="{{PRODUCT.name}}"/>
          <label for="name">Product Name</label>
        </div>

        <div class="input-field col s4">
          <input name="quantity" id="quantity" type="number" value="{{PRODUCT.quantity}}"/>
          <label for="quantity">Product Quantity</label>
        </div>

        <div class="input-field col s3">
          <input name="price" id="price" type="number" value="{{PRODUCT.price}}"/>
          <label for="price">Product Price</label>
        </div>

        <div class = 'col s4'>
            <button class = "btn waves-effect waves-light" type="submit">Save
            <i class = "material-icons right ">save</i>
            </button>
        </div>

      </form>

  </div>

</div>

{% endblock %}
