{% extends 'base.html' %}

{% block content %}

<div class = 'container'>

  <h3> Products </h3>

  <div class="row">
      <form method='GET'>
        <div class="input-field col s6">
          <input name="SearchText"  id="SearchText" type="text">
          <label for="SearchText">Product Name</label>
        </div>

        <div class = 'col s6'>
            <button class = "btn waves-effect waves-light" type="submit" name="Search">Search
            <i class = "material-icons right ">search</i>
            </button>
        </div>

      </form>

  </div>

  <div class ="row">

      <table>
          <tr>
              <th>
                  ID
              </th>

              <th>
                  Name
              </th>

              <th>
                  Quantity
              </th>

              <th>
                  Price
              </th>

              <th>
                  Delete
              </th>

              <th>
                  Update
              </th>

              {% for p in PRODUCT %}

              <tr>
                  <th>
                      {{ p.id }}
                  </th>

                  <td>
                      {{ p.name }}
                  </td>

                  <td>
                      {{ p.quantity }}
                  </td>

                  <td>
                      {{ p.price}}
                  </td>

                  <th>
                      <a href="{{url_for('.delete',id=p.id)}}"> delete </a>
                  </th>

                  <th>
                      <a href="{{url_for('.update',id=p.id)}}"> update </a>
                  </th>

                </tr>

            {% endfor %}
          </tr>


      </table>

       <div class="row">
      <form method="POST">
        <div class="input-field col s4">
          <input name="name" placeholder="Placeholder" id="name" type="text">
          <label for="name">Product Name</label>
        </div>

        <div class="input-field col s4">
          <input name="quantity" placeholder="Placeholder" id="quantity" type="number">
          <label for="quantity">Quantity</label>
        </div>

        <div class="input-field col s4">
          <input name="price" placeholder="Placeholder" id="price" type="text">
          <label for="price">Price</label>
        </div>

        <div class = 'col s4'>
            <button class = "btn waves-effect waves-light" type="submit">Create
            <i class = "material-icons right ">send</i>
            </button>
        </div>

      </form>

  </div>

</div>



<div class " row divider"></div>


{% endblock %}
